/* .left {
    padding: 19% 10%;
    float: left;
  }
  .right {
    padding-top: 7%;
  }
  .formInput {
    margin: 2% auto;
  }
  input {
    margin: auto;
    width: 60%;
  }
  img {
    width: 50%;
    height: 50%;
  }
   */
