.right {
  padding-top: 7%;
}

form {
  padding: 0 0 0 4%;
  .row.row-fields.row-1 {
    padding-top: 5%;
    .formInput {
      margin: 0.5% auto;
      input {
        margin: auto;
        width: 50%;
      }
    }
    .submit-btn {
      align-self: center;
      vertical-align: middle;
      margin: 4% 0 0 2%;
      width: 50%;
    }
  }
}
